.steps-area {
    padding: 180px 0;
    background-image: url(../../images/robo-bg.jpg);
    background-size: cover;
    background-position: center top;
}
.step-image img {
    width: 100%;
}
.step {
    padding: 100px 0;
}
.steps-area .text-card {
    background-image: url(../../images/step2.png);
    min-height: 430px;
}

@media (max-width: 991px) {
    .steps-area {
        padding: 80px 0;
    }
    .step {
        padding: 40px 0;
    }
}
