.section-heading h3 {
    margin-bottom: 55px;
    text-align: center;
    font-size: 55px;
}
@media (max-width: 991px) {
    .section-heading h3 {
        margin-bottom: 45px;
        font-size: 40px;
    }
}
